
body {
    height: 100%;
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 3px 3px rgb(53, 41, 33);
}

a {
    text-shadow: 0px 0px black;
}

#products {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 20vh;
    margin: auto;
}

.info-div {
    border: 5px solid rgb(209, 117, 42);
    width: 50%;
    margin-left: 1%;
    padding-left: 20px;
    margin-top: 2%;
    background-image: linear-gradient(rgb(184, 78, 78), rgb(209, 161, 88));
}
.product-div {
    width: 100%;
    height: 100%;
    margin: 1% 1% 1% 1%;
    border: 5px solid rgb(207, 112, 23);
    text-align: center;
    background-image: linear-gradient(rgb(184, 78, 78), rgb(209, 161, 88));
}

#decks-button, #griptapes-button, #wheels-button {
    margin-top: 15%;
}

#browse-parts {
    text-align: center;
}

.video-div {
    width: 40%;
    height: 20%;
    min-width: 512px;
    min-height: 380px;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    border: 7px solid rgb(201, 102, 102);
    background-image: linear-gradient(rgb(184, 78, 78), rgb(209, 161, 88));
}

#form {
    width: 40%;
    margin: auto;
    background-image: linear-gradient(rgb(184, 78, 78), rgb(209, 161, 88));
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}